javascript:
  $(function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoidmJoamNrZmQiLCJhIjoiY2ltMjNidDRvMDBudnVvbTQ4aGQ2bTFzNiJ9.I5ym_chknrWXKf5hXD6anA';

    var stop_code = document.location.pathname.split('/').pop();
    var map = L.map('map', {
      center: [0, 0]
    });
    L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    var transportLayer = L.layerGroup([]).addTo(map);

    map.addOneTimeEventListener('load', function(e) {
        $('div#map').hide();
    });

    function refreshTimetable(tableContainer, transportLayer, isFirstTime = false) {
      $.ajax({
        url: '/api/stops/' + stop_code
      }).done(function(data){

        if(isFirstTime) {
          $('#title').html(data.name + '(№'+ data.code +')');
          document.title = data.name;

          var stop_location = [data.latitude, data.longitude];
          map.setView(stop_location, 15);
          L.marker(stop_location).addTo(map);
        }

        html = ''
        transportLayer.clearLayers()

        jQuery.each(data.timetable, function(index, item){
          html += '<tr>'
            html += '<td class="'+ item.vehicle_type +'">'
              html += '<strong>' + item['route'] + '</strong> ' + item['end_stop'] + '</td>'
            html += '<td>'+ item['time_left'] +'</td>'
          html += '</tr>'

          transportLayer.addLayer(L.marker([item.latitude, item.longitude], {
            icon: L.divIcon({
              className: 'vehicle-icon',
              html: '<b style="color: #ff0000">' + item['route'] + '</b><br />' + item['time_left']
            })
          }))
        })

        tableContainer.html(html)
      })
    }

    $('a#show-map').click(function(){
      $('div#map').show();
      $('a#show-timetable').show();
      $(this).hide();
      $('table#timetable').hide();
      return false;
    })
    $('a#show-timetable').click(function(){
      $('table#timetable').show();
      $('a#show-map').show()
      $('div#map').hide();
      $(this).hide();
      return false;
    })

    refreshTimetable($('table tbody'), transportLayer, true)
    window.setInterval(refreshTimetable, 10000, $('table tbody'), transportLayer);
  });

css:
  table#timetable td {text-align: left; background-repeat: no-repeat; height: 35px; padding-left: 40px; background-size: auto auto}
    table#timetable td.bus {background-image: url('https://dl.dropboxusercontent.com/u/585045/icons/bus.png')}
    table#timetable td.tram {background-image: url('https://dl.dropboxusercontent.com/u/585045/icons/public-tram-.png')}
    table#timetable td.trol {background-image: url('https://dl.dropboxusercontent.com/u/585045/icons/trolleybus-facing-right.png')}
  div#map {height: 450px}
  .vehicle-icon {background: rgba(255,255,255,0.7); border: none; width: 45px !important; height: auto !important; font-size: 15px}

div.container-fluid.text-center
  div.row
    div.col-md-12
      h3#title
  div.row
    div.col-md-12
      table#timetable.table.table-condensed.table-striped
        thead
          td
            | Маршрут
          td
            | Через
        tbody
          tr.tr
            td.td colspan="2"
              img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif"
  div.row
    div.col-md-12
      a#show-map href="#"
        | на мапі

      div#map

      a#show-timetable href="#" style="display: none"
        | табличка
