javascript:
  $(function() {
    var stop_code = document.location.pathname.split('/').pop();
    var map = L.map('map', {
      center: [0, 0]
    });
    L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    var transportLayer = L.layerGroup([]).addTo(map);

    map.addOneTimeEventListener('load', function(e) {
        $('div#map').hide();
    });

    function refreshTimetable(tableContainer, transportLayer, isFirstTime = false) {
      $.ajax({
        url: '/api/stops/' + stop_code
      }).done(function(data){

        if(isFirstTime) {
          var title = data.name + ' (№'+ data.code +')';
          $('#title').html(title);
          document.title = title;

          var stop_location = [data.latitude, data.longitude];
          map.setView(stop_location, 15);
          L.marker(stop_location).addTo(map);
        }

        tableContainer.html('');
        transportLayer.clearLayers()

        jQuery.each(data.timetable, function(index, item){
          var row = $('<tr>'
                  + '<td class="icon-type">'
                    + '<img src="https://dl.dropboxusercontent.com/u/585045/icons/'+ item.vehicle_type +'.png" width="32" height="32" />'
                  + '</td>'
                  + '<td class="route"><strong>' + item['route'] + '</strong></td>'
                  + '<td class="direction">' + item['end_stop'] + '</td>'
                  + '<td>'+ item['time_left'] +'</td>'
                + '</tr>'
          );

          if(item.lowfloor) {
            row.find('td:first').addClass('lowfloor');
          }

          tableContainer.append(row);

          transportLayer.addLayer(L.marker([item.latitude, item.longitude], {
            icon: L.divIcon({
              className: 'vehicle-icon',
              html: '<b style="color: #ff0000">' + item['route'] + '</b><br />' + item['time_left']
            })
          }))
        })
      })
    }

    $('a#show-map').click(function(){
      $('div#map').show();
      $('a#show-timetable').show();
      $(this).hide();
      $('table#timetable').hide();
      return false;
    })
    $('a#show-timetable').click(function(){
      $('table#timetable').show();
      $('a#show-map').show()
      $('div#map').hide();
      $(this).hide();
      return false;
    })

    refreshTimetable($('table tbody'), transportLayer, true)
    window.setInterval(refreshTimetable, 10000, $('table tbody'), transportLayer);
  });

css:
  table#timetable td {padding: 0 3px 0 3px; vertical-align: middle}
  table#timetable td.lowfloor {background: url('https://dl.dropboxusercontent.com/u/585045/icons/lowfloor.png') 39px 10px no-repeat}
  div#map {height: 450px}
  .vehicle-icon {background: rgba(255,255,255,0.7); border: none; width: 45px !important; height: auto !important; font-size: 15px}

div.container-fluid.text-center
  div.row
    div.col-md-12
      h3#title
  div.row
    div.col-md-12
      table#timetable.table.table-striped.text-left
        thead
          td colspan="3"
            | Маршрут
          td
            | Через
        tbody
          tr.tr
            td.td colspan="4"
              img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif"
  div.row
    div.col-md-12
      a#show-map href="#"
        | на мапі

      div#map

      a#show-timetable href="#" style="display: none"
        | табличка
